extends ./layouts/index

block slider
    .slider
        h1 Rio de Janeiro
        em aventura

block contenido
    main.container.mt-5 
        h2.text-center.mb-5  Sobre Nosotros
        .row.mb-5
            .col-md-6

                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur rutrum lobortis finibus. Nunc et dolor facilisis, viverra diam eleifend, rutrum nibh. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque fermentum elementum lectus vitae pellentesque. Duis fermentum quis ex et dictum. Praesent volutpat maximus ullamcorper. 
                p Phasellus eget felis ullamcorper, viverra eros id, scelerisque nunc. Vestibulum nulla nisl, ultrices eget lobortis quis, volutpat a leo. Aenean eros nibh, egestas in augue eu, congue elementum mi. Cras lacinia imperdiet magna, non dictum nisi ultricies sed. Nulla varius luctus dolor nec tempus.
                
            .col-md-6
                img(src="/img/inicio_nosotros.jpg", alt=" imagen nosotros", class="img-fluid")
        include ./layouts/bloque_viajes
    .descuento
        .container
            .row
                .col-md-6
                    .contenido
                        h3 5% de Descuento 
                        p.titulo Viaje a Canada
                        p.fecha 20 de Marzo de 2022 - 28 de Marzo de 2022
                        p.precio $2.500 USD
    .container 
        h2.mt-5.text-center Testimoniales
            include ./layouts/bloque_testimoniales